APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString
APP_PREFIX=reviewr

JWT_SECRET=superpupersecret
AUTH_REDIRECT=auth/binary_callback
WEBSOCKET_PORT=5555
WEBSOCKET_CONNECTION=5588

DB_HOST=localhost
DB_DATABASE=reviewr
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AUTH_REDIRECT=/auth
AUTH_ME=/profile/user/getByCentralId
AUTH_LOGOUT=/auth/logout